@model MediaWeb.Models.Music.MusicDetailViewModel

<partial name="_MediaDetailPartial" model="@Model">

    <div>
        <bold>Artist</bold>
        <span>
            @Model.Artist
        </span>
        <br />
        <bold>Genre</bold>
        <span>
            @Model.Genre
        </span>
    </div>