

<div>
    <strong>
        Welcome to MediaWeb the latest revolution in web design ^^
    </strong>
</div>


<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="Media" asp-action="Index">Mijn media</a>
</div>

<div>
    <span>Kijk ook naar de media van andere mensen!</span>
</div>
