

<div>
    <strong>
        Welcome to MediaWeb the latest revolution in web design ^^
    </strong>
</div>


<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="Media" asp-action="Index">My media</a>
</div>

<div>

</div>
