@model MediaWeb.Models.PodCast.PodCastDetailViewModel


<partial name="_MediaDetailPartial" model="@Model">

    <div>
        <bold>Host</bold>
        <span>
            @Model.Host
        </span>
        <br />
        <bold>Guest</bold>
        <span>
            @Model.Guest
        </span>
    </div>

