@model MediaWeb.Models.Media.PodCast.PodCastIndexViewModel

<div>
    <h1>
        Hier een overzicht van al je podcasts
    </h1>
</div>

<div>
    <span>
        Bekijk je collectie!
    </span>
    @if (Model.PodCasts.Count() == 0)
    {
        <span>
            Het ziet er naar uit dat je nog geen podcasts hebt in je collectie!
            Maak er snel eentje aan!
        </span>
    }
    else
    {
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var media in Model.PodCasts)
                {
                    <tr>
                        <td>@media.Title</td>
                        <td>
                            <a asp-controller="PodCast" asp-action="Detail" asp-route-model="@media">Detail</a>
                        </td>
                        <td>
                            <a asp-controller="PodCast" asp-action="Edit" asp-route-model="@media">Edit</a>
                        </td>
                        <td>
                            <a asp-controller="PodCast" asp-action="Delete" asp-route-model="@media">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<div>
    <a asp-controller="Podast" asp-action="Create">Maak een nieuwe podcast aan</a>
</div>

<div>
    <a asp-controller="Podast" asp-action="Search">Zoek naar een al bestaande podcast op onze website</a>
</div>
