@model MediaWeb.Models.Media.Serie.SerieDetailViewModel

<partial name="_MediaDetailPartial" model="@Model">

    <div>
        <span>
            @Model.Producer
        </span>
        <br />
        <bold>Description</bold>
        <span>
            @Model.Episode
        </span>
    </div>
