@model MediaWeb.Models.Film.FilmDetailViewModel

<partial name="_MediaDetailPartial" model="@Model">

    <div>
        <bold>Producer</bold>
        <span>
            @Model.Producer
        </span>
        <br />
        <bold>Description</bold>
        <span>
            @Model.Description
        </span>
    </div>
