@model MediaWeb.Models.Media.Film.FilmIndexViewModel

<div>
    <h1>
        Hier een overzicht van al je films
    </h1>
</div>

<div>
    <span>
        Bekijk je collectie!
    </span>
    @if (Model.Films.Count() == 0)
    {
        <span>
            Het ziet er naar uit dat je nog geen films hebt in je collectie!
            Maak er snel eentje aan!
        </span>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var media in Model.Films)
                {
                    <tr>
                        <td>@media.Title</td>
                        <td>
                            <a asp-controller="Film" asp-action="Detail" asp-route-id="@media.Id">Detail</a>
                        </td>
                        <td>
                            <a asp-controller="Film" asp-action="Edit" asp-route-id="@media.Id">Edit</a>
                        </td>
                        <td>
                            <a asp-controller="Film" asp-action="Delete" asp-route-id="@media.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<div>
    <a asp-controller="Film" asp-action="Create">Maak een nieuwe film aan</a>
</div>

<div>
    <a asp-controller="Film" asp-action="Search">Zoek naar een al bestaande film op onze website</a>
</div>


<div class="align-bottom">
    <a asp-controller="Media" asp-action="Index">Terug naar algemeen overzicht</a>
</div>